spoke-applicationc/src/main/mule/spoke-applicationc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<anypoint-mq:config name="Anypoint_MQ_Config" doc:name="Anypoint MQ Config" doc:id="b1511b2f-6c6c-439b-9e3d-48c47a01ed13" >
		<anypoint-mq:connection clientId="2b3480629bac41c1beb00901fcaf3a93" clientSecret="c40F18bB00424cE0B3201849c91DAC43" />
	</anypoint-mq:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="74696b61-5c12-4d23-ab71-4a6a366550bf" >
		<db:my-sql-connection host="eksprod.tools.mulesoft.com" port="30728" user="khMySQLDB" password="Password123?Sixteen" database="khMySQLDBDemo" />
	</db:config>
	<flow name="spoke-applicationcFlow" doc:id="3876faac-ff7b-4467-97c0-03dd0f8cada1" >
		<anypoint-mq:subscriber doc:name="Subscriber" doc:id="69d5c54f-79fe-404d-9ff3-9504c7d50478" config-ref="Anypoint_MQ_Config" destination="applicationC"/>
		<set-variable value="#[payload.ApplicationType]" doc:name="appliationType set as ApplicationType" doc:id="d21667c5-ce1a-42af-ac4f-989c6749601a" variableName="applicationType"/>
		<choice doc:name="Choice" doc:id="1c168d8b-3ba4-4778-8828-13b9559d8169" >
			<when expression='#[vars.applicationType == "B"]'>
				<logger level="INFO" doc:name="Logger" doc:id="55e1763c-2e56-4dca-8223-f490e2637c48" />
			</when>
			<otherwise >
				<db:insert doc:name="Insert" doc:id="2c20d316-cce8-4ab7-a9f7-7d53257ddd64" config-ref="Database_Config">
					<db:sql ><![CDATA[INSERT INTO HubandSpokeAccountsC (Name, AccountName, BillingStreet, BillingCity, BillingState) VALUES (:Name, :AccountName, :BillingStreet, :BillingCity, :BillingState)]]></db:sql>
					<db:input-parameters ><![CDATA[#[{'Name': payload.Name, 'AccountName': payload.AccountName, 'BillingStreet': payload.BillingStreet, 'BillingCity': payload.BillingCity, 'BillingState': payload.BillingState}]]]></db:input-parameters>
				</db:insert>
			</otherwise>
		</choice>
	</flow>
</mule>
